{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.data.fixturedRequests %}
        {% set icon %}
            <span class="sf-toolbar-status">
                {{ collector.data.fixturedRequests|length }}
            </span>
        {% endset %}
        {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {% if not collector.data.fixturedRequests %}disabled{% endif %}">
        <strong>Fixtures</strong>
        {% if collector.data.fixturedRequests %}
            <span class="count">
                <span>{{ collector.data.fixturedRequests|length }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <h2>Fixtures</h2>

    <p><small>Fixtures are ways of defining what responses we want from various webservices.</small></p>

    {% if collector.data.fixturedRequests %}
        <h3>Modified Requests</h3>
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Condition</th>
                    <th>Status</th>
                    <th>Fixtured By</th>
                </tr>
            </thead>
            <tbody>
                {% for request in collector.data.fixturedRequests %}
                    <tr>
                        <td>{{ request.service }}</td>
                        <td>{{ request.condition }}</td>
                        <td>{{ request.status }}</td>
                        <td>{{ request.definition }}</td>
                    </tr>
                    <tr style="border-bottom: 5px solid #ccc">
                        <td colspan="4">
                            <a href="{{ request.url }}">{{ request.url }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No fixtures were loaded during this request! It's all real baby.</p>
    {% endif %}
{% endblock %}
