{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <style>
        .guzzle-code {
            border: 1px solid #ccc;
            background-color: #eee;
            margin: 5px 0;
            padding: 6px;
            max-height: 200px;
            overflow-y: scroll;
            max-width: 800px;
        }
    </style>
{% endblock %}

{% block toolbar %}
    {% set icon %}
        <svg width="24" height="28" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 24 28" enable-background="new 0 0 24 28" xml:space="preserve"><polygon fill="#3F3F3F" points="18.4,3.8 12.8,9.4 16.3,9.4 16.3,21.1 14.1,21.1 9.9,25.3 16.3,25.3 20.5,25.3 20.5,21.1 20.5,9.4 23.9,9.4"/><polygon fill="#3F3F3F" points="5.6,25.3 11.2,19.7 7.7,19.7 7.7,8 9.9,8 14.1,3.8 7.7,3.8 3.5,3.8 3.5,8 3.5,19.7 0.1,19.7"/></svg>
        <span class="sf-toolbar-status {% if collector.data.statuses.0 or collector.data.statuses.500 or collector.data.statuses.404 or collector.data.statuses.503 %}sf-toolbar-status-red{% endif %}">
            {{ collector.data.total_requests }}
        </span>
        {% if collector.data.total_requests > 0 %}
            <span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f'|format(collector.data.total_time * 1000) }} ms</span>
        {% endif %}
    {% endset %}
    {% set text %}
        {% spaceless %}
            <div class="sf-toolbar-info-piece">
                <b>Total Requests</b>
                <span>{{ collector.data.total_requests }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Time Taken</b>
                <span>{{ '%0.2f'|format(collector.data.total_time * 1000) }} ms</span>
            </div>
            {% for code, count in collector.data.statuses %}
                <div class="sf-toolbar-info-piece">
                    <b>
                        HTTP
                        <span class="sf-toolbar-status {% if code == 200 %}sf-toolbar-status-green{% else %}sf-toolbar-status-red{% endif %}">
                            {{ code }}
                        </span>
                    </b>
                    <span>{{ count }}</span>
                </div>
            {% endfor %}
        {% endspaceless %}
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <svg width="24" height="28" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 24 28" enable-background="new 0 0 24 28" xml:space="preserve"><polygon fill="#fff" points="18.4,3.8 12.8,9.4 16.3,9.4 16.3,21.1 14.1,21.1 9.9,25.3 16.3,25.3 20.5,25.3 20.5,21.1 20.5,9.4 23.9,9.4"/><polygon fill="#fff" points="5.6,25.3 11.2,19.7 7.7,19.7 7.7,8 9.9,8 14.1,3.8 7.7,3.8 3.5,3.8 3.5,8 3.5,19.7 0.1,19.7"/></svg>
        </span>
        <strong>Guzzle</strong>
        <span class="count">
            <span>{{ collector.data.total_requests }}</span>
            <span>{{ '%0.2f'|format(collector.data.total_time * 1000) }} ms</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>Guzzle HTTP Requests</h2>

    {% for url,requests in collector.data.requests %}
        {% set i = loop.index0 %}
        <h3>
            Request #{{ loop.index }}
        </h3>
        <p>
            <a href="{{ url }}">{{ url }}</a>
        </p>

        <table style="max-width: 100%">
            <thead>
            <tr>
                <th>Status Code</th>
                <th>Content Type</th>
                <th>Total Time (ms)</th>
                <th>Connect Time (ms)</th>
                <th>Request Size (bytes)</th>
                <th>Download Speed (bytes/s)</th>
                <th>Cache Key</th>
            </tr>
            </thead>
            <tbody>
            {% for r in requests %}
                <tr class="guzzle-request-info">
                    {% if r.fixture %}
                        <td class="guzzle-request-status">{{ r.fixture.status }}</td>
                        <td class="guzzle-request-fixtureinfo" colspan="5">
                            Fixtured by <strong>{{ r.fixture.definition }}</strong>
                            <br>
                            Condition: {{ r.fixture.condition }}
                        </td>
                    {% else %}
                        <td class="guzzle-request-status">{{ r.http_code }}</td>
                        <td class="guzzle-request-contenttype">{{ r.content_type }}</td>
                        <td class="guzzle-request-totaltime">{{ r.total_time * 1000 }}</td>
                        <td class="guzzle-request-connecttime">{{ r.connect_time * 1000 }}</td>
                        <td class="guzzle-request-sizedownload">{{ r.size_download }}</td>
                        <td class="guzzle-request-speeddownload">{{ r.speed_download }}</td>
                    {% endif %}
                    <td class="guzzle-request-cachekey">{{ r.cacheKey }}</td>
                </tr>
                <tr class="guzzle-request-additional">
                    <td colspan="7">
                        <p>
                            <a href="#headers_{{ i }}" class="toggle-link">Toggle Headers</a>
                            | <a href="#body_{{ i }}" class="toggle-link">Toggle Body</a>
                        </p>

                        <pre class="guzzle-code" id="body_{{ i }}" style="display: none;"><code>{{ r.body }}</code></pre>
                        <table class="headers-table" id="headers_{{ i }}" style="display: none;">
                            <caption>Headers</caption>
                            {% for header,value in r.headers %}
                                <tr>
                                    <th>{{ header }}</th>
                                    <td>{{ value.0 }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No requests were made! Huzzah!</p>
    {% endfor %}

    <script type="text/javascript">
        var links = document.querySelectorAll('.toggle-link');
        for (var i = 0; i < links.length; i ++) {
            links[i].addEventListener('click', function (e) {
                e.preventDefault();
                var target = document.querySelector(e.target.getAttribute('href'));
                if (target.style.display == 'none') {
                    target.style.display = 'block';
                } else {
                    target.style.display = 'none';
                }
            });
        }
    </script>
{% endblock %}
